<mat-card>
  <h1>Lee McCready</h1>
  <br />
  <h2>About me</h2>
  <div>
    <p>
      Hello! My name is Lee McCready! I am a software developer that has just graduated from Pittsburgh Technical College with an Associate's in Science!
      This website is just to showcase my ability to program, and will include code snippits from this site. Thank you for your interest and enjoy the
      rest of the site!
    </p>
    <img src="assets/img/picOfMe.jpg" width="30%" />
  </div>
  <br />
  <h3>About the site</h3>
  <p>This site is coded using Angular and C# with ASP.net.</p>
</mat-card>
